#!/bin/bash
#
# After application is copied to final destination folder

if [[ "$DEPLOYMENT_GROUP_NAME" == "Staging" ]]; then
    name=mobile-push-staging
else
    name=mobile-push
fi

exe=/opt/$name/bin/python
new_release_dir=/srv/$name/release/{{tag}}

cd $new_release_dir
$exe setup.py develop
rm /srv/$name/current
ln -s $new_release_dir /srv/$name/current
supervisorctl restart $name
